

<h1>SOME BULLSHIT</h1>

<!--<div class="student">-->
<!--<h1 class="name">{{student.first_name}} {{student.last_name}}</h1>-->
<!--<div class="profile-picture-big">-->
<!--<img ng-src="{{student.link_photo}}">-->
<!--</div>-->

<!--<button class="btn" ng-click="">collapse</button>-->

<!--<div class="about">{{student.about}}</div>-->

<!--<div class="links">-->
<!--<a ng-href="{{student.link_vk}}">vkontakte</a>-->
<!--<a ng-href="{{student.link_facebook}}">facebook</a>-->
<!--<a ng-href="{{student.link_github}}">github</a>-->
<!--<a ng-href="{{student.link_yaru}}">heart</a>-->
<!--</div>-->

<!--<div><a href="#">Закрыть</a></div>-->
<!--</div>-->






<!-- ФОРМА -->
<!--<form name="popoverForm">-->
<!--<p ng-bind-html-unsafe="popover.content"></p>-->
<!--<br />-->
<!--<pre>2 + 3 = {{ 2 + 3 }}</pre>-->
<!--<div class="form-actions">-->
<!--<button type="button" class="btn" ng-click="submitForm($popover)">Close</button>-->
<!--<button class="btn btn-primary" ng-click="popover.saved=true;hide()">Save changes</button>-->
<!--</div>-->
<!--</form>-->
<!---->
