<div class="students" ng-controller="StudentsCtrl">
    <input type="text" class="form-control" data-ng-model="nameFilter" placeholder="Поиск">

    <ul class="app-folders-container">
        <li class="person" ng-repeat="student in students | filter: nameFilter | orderBy: 'last_name'">
            <div class="profile-picture">
                <a href="#/students/{{student.id}}">
                    <img ng-src="{{student.link_photo}}">
                </a>
            </div>
            <div class="student-name">
                <a href="#/students/{{student.id}}">{{student.first_name}}<br>{{student.last_name}}</a>
            </div>
        </li>
    </ul>
</div>