<div class="container">
    <div class="row" >
        <person ng-repeat="person in students"></person>
    </div>
</div>

<!--Послденяя версия-->

<!--<div ng-controller="StudentsCtrl">-->
    <!--<li ng-repeat="student in students" ng-class="{active: $routeSegment.$routeParams.id == student.id}">-->
        <!--<div ng-include="'parts/studentCompact.html'"></div>-->
        <!--<div class="anim expandedView" app-view-segment="1"></div>-->
    <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--МАТРИЦА-->

<!--<div class="row" ng-repeat="row in rows">-->
<!--<div class="col" ng-repeat="student in row">-->
<!--<div ng-include="'parts/personCompact.html'"></div>-->
<!--</div>-->
<!--<div class="anim expandedView" app-view-segment="1">-->
<!--</div>-->
<!--</div>-->


<!--СПИСОК-->
<!--<ul>-->
<!--<li ng-repeat="student in students" ng-class="{active: $routeSegment.$routeParams.id == student.id}">-->
<!--<div ng-include="'parts/personCompact.html'"></div>-->
<!--<div class="anim expandedView" app-view-segment="1"></div>-->
<!--</li>-->
<!--</ul>-->